.title{
    color:#C17C74;
    text-align: center;
    margin: 10px;
}
#box{
    border-style: solid;
    border-color: #B96492;
    background-color: blanchedalmond;
    border-radius: 25px;
    color: #685044;
    margin: 10px;
}
.para {
    margin-left: 60px;
}
#button{
    background-color: #B96492;
    border-color:#B96492;
    border-radius: 5px;
    margin: 10px;
    color:blanchedalmond
}
#cakeFormSection{
    background-color: blanchedalmond;
    border-style: solid;
    border-color: #B96492;
    border-radius: 25px;
    text-align: center;
    color:#685044;;
}
#div{
    display:inline-table;
}